
<load target="./js/xe_official.js" />
<load target="./css/default.css" />
<load target="./css/webfont.css" />
<block cond="$layout_info->use_banner_list">
<load target="../../widgets/DWcontent/skins/Clayout_A/css/owl.carousel.css" />
<load target="../../widgets/DWcontent/skins/Clayout_A/js/owl.carousel.min.js" />
<load target="../../widgets/DWcontent/skins/Clayout_A/js/jquery.mousewheel.min.js" />
</block>
<load target="../../common/xeicon/xeicon.min.css" />
<style>
<block cond="$layout_info->menu_height">
.main_menu div{min-height:{$layout_info->menu_height}px}
</block>
<block cond="$layout_info->footer_padding">
.foot_menu li{padding:9px {$layout_info->footer_padding}px 10px {$layout_info->footer_padding+1}px}
</block>
<block cond="$layout_info->bg_slide">
.wrap_slide{background:{$layout_info->bg_slide}}
</block>
<block cond="$layout_info->bg_up_breadclumb">
.up_breadclumb{background:{$layout_info->bg_up_breadclumb}}
</block>
<block cond="$layout_info->bg_basic">
li.first_li:hover div,
.line_no_breadclumb .span_breadclumb,
.up_breadclumb .span_breadclumb,
.sub_title{border-color:{$layout_info->bg_basic}}
.lnb_shadow {border-top-color:{$layout_info->bg_basic} !important}
.main_menu li div li a:hover,
.main_menu li div li a.active_a,
.active a.first_a,
.breadclumb .last_breadclumb a,
.locNav li.active a,
.locNav li a:hover,
.login_widget .info_label{color:{$layout_info->bg_basic} !important}
.lnb_normal .lnb_h2,
.login_widget .bar:before, .login_widget .bar:after,
.owl-theme .owl-controls .owl-dots .active span,
.da-owl .owl-nav .owl-prev:hover,
.da-owl .owl-nav .owl-next:hover{background-color:{$layout_info->bg_basic} !important}
</block>
<block cond="$layout_info->border_basic">
.header{border-color:{$layout_info->border_basic}}
</block>

<block cond="$layout_info->color_up_breadclumb">
.xe .up_breadclumb *,
.xe .up_breadclumb .breadclumb .last_breadclumb a{color:{$layout_info->color_up_breadclumb} !important;}
.xe .up_breadclumb .span_breadclumb{border-color:{$layout_info->color_up_breadclumb} !important;}
</block>
<block cond="$layout_info->border_up_breadclumb">
.up_breadclumb{border-color:{$layout_info->border_up_breadclumb} !important;}
</block>

<block cond="$layout_info->fix_top">
.abs_banner{top:{$layout_info->fix_top}px;}
</block>
<block cond="$layout_info->fix_width">
.in_fix_right,
.in_fix_left{width:{$layout_info->fix_width}px;}
</block>
<block cond="$layout_info->main_widget_bg1">
.section1{background:{$layout_info->main_widget_bg1};}
</block>
<block cond="$layout_info->main_title_color1">
.section1 h1{color:{$layout_info->main_title_color1};}
.section1 h1:after{background:{$layout_info->main_title_color1};}
</block>
<block cond="$layout_info->main_text_color1">
.section1 p{color:{$layout_info->main_text_color1};}
</block>
<block cond="$layout_info->main_widget_bg2">
.section2{background:{$layout_info->main_widget_bg2};}
.section1 .left_span{border-bottom:60px solid {$layout_info->main_widget_bg2};}
.section1 .right_span{border-bottom:60px solid {$layout_info->main_widget_bg2};}
</block>
<block cond="$layout_info->main_widget_bg3">
.section3,
.section3 .owl-carousel .owl-item{background:{$layout_info->main_widget_bg3};}
.section2 .left_span{border-bottom:60px solid {$layout_info->main_widget_bg3};}
.section2 .right_span{border-bottom:60px solid {$layout_info->main_widget_bg3};}

</block>
<block cond="$layout_info->main_widget_bg4">
.section4{background:{$layout_info->main_widget_bg4};}
.section3 .left_span{border-bottom:60px solid {$layout_info->main_widget_bg4};}
.section3 .right_span{border-bottom:60px solid {$layout_info->main_widget_bg4};}
</block>
<block cond="$layout_info->foot_menu_height">
.foot_div{height:{$layout_info->foot_menu_height}px;}
</block>



</style>
<p class="skip" id="skip"><a href="#content">{$lang->skip_to_content}</a></p>
	<header class="header" id="header" cond="$layout_info->header_style!=='B'">
		<div class="in_header">
			<div class="top_header">
				<!-- 우상단 로그인 -->
				<div class="wrap_account xe_width">
					<div class="account clearBoth">
						<ul class="clearBoth">
							<li class="language first_top" cond="$layout_info->use_language=='Y'">
								<button type="button" class="toggle login_A">{$lang_supported[$lang_type]}</button>
								<ul class="selectLang none_login">
									<li loop="$lang_supported=>$key,$val" cond="$key!= $lang_type"><button type="button" onclick="doChangeLangType('{$key}');return false;">{$val}</button></li>
									<li class="close_selectLang"><a class="toggle" href="#">CLOSE</a></li>
								</ul>
							</li>
							<block cond="$is_logged">
							<li class="first_top"|cond="$layout_info->use_language!=='Y'"><a href="{getUrl('act','dispMemberLogout')}">{$lang->cmd_logout}</a></li>
							<li><a href="{getUrl('act','dispMemberInfo')}">{$lang->cmd_view_member_info}</a></li>
							<li cond="$logged_info->is_admin=='Y' && !$site_module_info->site_srl"><a href="{getUrl('','module','admin')}">{$lang->cmd_management}</a></li>
							</block>
							<block cond="!$is_logged">
							<li class="first_top"|cond="$layout_info->use_language!=='Y'" cond="!$layout_info->use_sns"><a class="act_login" href="{getUrl('act','dispMemberLoginForm')}">{$lang->cmd_login}</a></li>
							<li class="first_top"|cond="$layout_info->use_language!=='Y'" cond="$layout_info->use_sns"><a class="sns_login" href="#">SNS {$lang->cmd_login}</a></li>
							<li><a href="{getUrl('act','dispMemberSignUpForm')}">{$lang->cmd_signup}</a></li>
							<li><a href="{getUrl('act','dispMemberFindAccount')}">{$lang->cmd_find_member_account}</a></li>
							</block>
							
						</ul>
					</div>
				</div>
			</div>
				<!-- 우상단 로그인 끝 -->

			<div class="wrap_menu clearBoth xe_width">
				<h1 class="large_logo">
					<a href="{$layout_info->logo_url}"|cond="$layout_info->logo_url"  href="{getSiteUrl()}"|cond="!$layout_info->logo_url" cond="$layout_info->logo_image" title="{$layout_info->logo_image_alt}"><img class="logo" src="{$layout_info->logo_image}" alt="{$layout_info->logo_image_alt}" border="0" /></a>
					<a href="{getSiteUrl()}" cond="!$layout_info->logo_image" class="text_logo" title="Door of Web"><img class="logo" src="img/logo.png" border="0" alt="Door of Web"></a>
				</h1>
				<div class="gnb">
					<ul id="menu" class="main_menu clearBoth {$layout_info->menu_align}">
						{@$idx=1}
						<li loop="$main_menu->list=>$key1,$val1" cond="$val1['link']" name="banner{$idx}" class="active highlight first_li dw_width{$layout_info->menu_width}"|cond="$val1['selected']"  class="first_li dw_width{$layout_info->menu_width}"|cond="!$val1['selected']">
							<a class="first_a H_height Acolor" href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'"><span class="first_span">{$val1['text']}</span></a>
							<div class="sub1 sub_div">
								<ul class="first_ul" cond="$val1['list']">
									<li loop="$val1['list']=>$key2,$val2" cond="$val2['link']" class="second_li">
										<a href="{$val2['href']}" class="active_a"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['text']}</a>
									</li>
								</ul>
							</div>
							{@$idx++}
						</li>		
					</ul>
			
					<ul class="menu_banner" cond="$layout_info->li_banner1 && $layout_info->li_banner2">
						<li class="li_banner li_banner1"><img class="top_banner" src="{$layout_info->li_banner1}" alt="{$layout_info->li_banner1_alt}" /></li>
						<li class="li_banner li_banner2" cond="$layout_info->li_banner2"><img class="top_banner" src="{$layout_info->li_banner2}" alt="{$layout_info->li_banner2_alt}" /></li>
						<li class="li_banner li_banner3" cond="$layout_info->li_banner3"><img class="top_banner" src="{$layout_info->li_banner3}" alt="{$layout_info->li_banner3_alt}" /></li>
						<li class="li_banner li_banner4" cond="$layout_info->li_banner4"><img class="top_banner" src="{$layout_info->li_banner4}" alt="{$layout_info->li_banner4_alt}" /></li>
						<li class="li_banner li_banner5" cond="$layout_info->li_banner5"><img class="top_banner" src="{$layout_info->li_banner5}" alt="{$layout_info->li_banner5_alt}" /></li>
						<li class="li_banner li_banner6" cond="$layout_info->li_banner6"><img class="top_banner" src="{$layout_info->li_banner6}" alt="{$layout_info->li_banner6_alt}" /></li>
						<li class="li_banner li_banner7" cond="$layout_info->li_banner7"><img class="top_banner" src="{$layout_info->li_banner7}" alt="{$layout_info->li_banner7_alt}" /></li>
						<li class="li_banner li_banner8" cond="$layout_info->li_banner8"><img class="top_banner" src="{$layout_info->li_banner8}" alt="{$layout_info->li_banner8_alt}" /></li>
					</ul>
					<ul class="menu_banner" cond="$layout_info->li_banner1 && !$layout_info->li_banner2">
						<li><img class="top_banner" src="{$layout_info->li_banner1}" alt="{$layout_info->li_banner1_alt}" /></li>
					</ul>
						
				</div>
				<!-- 메인메뉴 끝 -->	
			</div>
		</div>
	</header>
<div class="xe xe_width {$layout_info->layout_style}">
<!-- 헤더 시작 -->
	<header class="header small_header" id="header" cond="$layout_info->header_style=='B'">
		<div class="in_header">
			<div class="top_header">
				<!-- 우상단 로그인 -->
				<div class="wrap_account xe_width">
					<div class="account clearBoth">
						<ul class="clearBoth">
							<block cond="$is_logged">
							<li class="first_top"><a href="{getUrl('act','dispMemberLogout')}">{$lang->cmd_logout}</a></li>
							<li><a href="{getUrl('act','dispMemberInfo','mid', $layout_info->fbmember_info)}">{$lang->cmd_view_member_info}</a></li>
							<li cond="$logged_info->is_admin=='Y' && !$site_module_info->site_srl"><a href="{getUrl('','module','admin')}">{$lang->cmd_management}</a></li>
							</block>
							<block cond="!$is_logged">
							<li class="first_top" cond="!$layout_info->use_sns"><a class="act_login" href="{getUrl('act','dispMemberLoginForm','mid', $layout_info->fbmember_info)}">{$lang->cmd_login}</a></li>
							<li class="first_top" cond="$layout_info->use_sns"><a class="sns_login" href="#">SNS {$lang->cmd_login}</a></li>
							<li><a href="{getUrl('act','dispMemberSignUpForm','mid', $layout_info->fbmember_info)}">{$lang->cmd_signup}</a></li>
							<li><a href="{getUrl('act','dispMemberFindAccount','mid', $layout_info->fbmember_info)}">{$lang->cmd_find_member_account}</a></li>
							</block>	
						</ul>
					</div>
				</div>
			</div>
				<!-- 우상단 로그인 끝 -->

			<div class="wrap_menu clearBoth xe_width">
				<h1 class="large_logo">
					<a href="{$layout_info->logo_url}"|cond="$layout_info->logo_url"  href="{getSiteUrl()}"|cond="!$layout_info->logo_url" cond="$layout_info->logo_image" title="{$layout_info->logo_image_alt}"><img class="logo" src="{$layout_info->logo_image}" alt="{$layout_info->logo_image_alt}" border="0" /></a>
					<a href="{getSiteUrl()}" cond="!$layout_info->logo_image" class="text_logo" title="Door of Web"><img class="logo" src="img/logo.png" border="0" alt="Door of Web"></a>
				</h1>
				<div class="gnb">
					<ul id="menu" class="main_menu clearBoth">
						{@$idx=1}
						<li loop="$main_menu->list=>$key1,$val1" cond="$val1['link']" name="banner{$idx}" class="active highlight first_li dw_width{$layout_info->menu_width}"|cond="$val1['selected']"  class="first_li dw_width{$layout_info->menu_width}"|cond="!$val1['selected']">
							<a class="first_a H_height Acolor" href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'"><span class="first_span">{$val1['text']}</span></a>
							<div class="sub1 sub_div">
								<ul class="first_ul" cond="$val1['list']">
									<li loop="$val1['list']=>$key2,$val2" cond="$val2['link']" class="second_li">
										<a href="{$val2['href']}" class="active_a"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['text']}</a>
									</li>
								</ul>
							</div>
							{@$idx++}
						</li>		
					</ul>
			
					<ul class="menu_banner" cond="$layout_info->li_banner1 && $layout_info->li_banner2">
						<li class="li_banner li_banner1"><img class="top_banner" src="{$layout_info->li_banner1}" alt="{$layout_info->li_banner1_alt}" /></li>
						<li class="li_banner li_banner2" cond="$layout_info->li_banner2"><img class="top_banner" src="{$layout_info->li_banner2}" alt="{$layout_info->li_banner2_alt}" /></li>
						<li class="li_banner li_banner3" cond="$layout_info->li_banner3"><img class="top_banner" src="{$layout_info->li_banner3}" alt="{$layout_info->li_banner3_alt}" /></li>
						<li class="li_banner li_banner4" cond="$layout_info->li_banner4"><img class="top_banner" src="{$layout_info->li_banner4}" alt="{$layout_info->li_banner4_alt}" /></li>
						<li class="li_banner li_banner5" cond="$layout_info->li_banner5"><img class="top_banner" src="{$layout_info->li_banner5}" alt="{$layout_info->li_banner5_alt}" /></li>
						<li class="li_banner li_banner6" cond="$layout_info->li_banner6"><img class="top_banner" src="{$layout_info->li_banner6}" alt="{$layout_info->li_banner6_alt}" /></li>
						<li class="li_banner li_banner7" cond="$layout_info->li_banner7"><img class="top_banner" src="{$layout_info->li_banner7}" alt="{$layout_info->li_banner7_alt}" /></li>
						<li class="li_banner li_banner8" cond="$layout_info->li_banner8"><img class="top_banner" src="{$layout_info->li_banner8}" alt="{$layout_info->li_banner8_alt}" /></li>
					</ul>
					<ul class="menu_banner" cond="$layout_info->li_banner1 && !$layout_info->li_banner2">
						<li><img class="top_banner" src="{$layout_info->li_banner1}" alt="{$layout_info->li_banner1_alt}" /></li>
					</ul>
						
				</div>
				<!-- 메인메뉴 끝 -->	
			</div>
		</div>
	</header>
<!-- 헤더 끝 -->
	<div class="wrap_slide" cond="$layout_info->main_slide">
		<include target="slide/da-owl-slider.html" />
	</div>
	<block cond="$layout_info->breadclumb=='up'">	
	<!-- depth 1 -->
	<block loop="$breadclumb_menu->list=>$key, $val" cond="$val['selected']">{@$menu_depth1 = $val}</block>
	<!-- depth 2 -->
	<block loop="$menu_depth1['list']=>$key, $val" cond="$val['selected'] && $menu_depth1">{@$menu_depth2 = $val}</block>
	<!-- depth 3 -->
	<block loop="$menu_depth2['list']=>$key, $val" cond="$val['selected'] && $menu_depth2">{@$menu_depth3 = $val}</block>
	<div class="wrap_breadclumb up_breadclumb">
		<div class="sub_title">
			<h1><a href="{$menu_depth1['href']}" cond="$menu_depth1&&!$menu_depth2">{$menu_depth1['link']}</a>
				<a href="{$menu_depth2['href']}" cond="$menu_depth2">{$menu_depth2['link']}</a>
				<span class="span_breadclumb"></span>
			</h1>
		</div>
		<ul class="breadclumb">													
			<li class="first_breadclumb png_bg">
				<a href="{getSiteUrl()}">홈</a>
			</li>
			<li class="png_bg" cond="$menu_depth1">
				<i class="xi-angle-right"></i>	<a class="Ccolor" href="{$menu_depth1['href']}">{$menu_depth1['text']}</a>
			</li>
			<li class="png_bg" cond="$menu_depth2">
				<i class="xi-angle-right"></i> <a class="Ccolor" href="{$menu_depth2['href']}">{$menu_depth2['text']}</a>
			</li>
		</ul>
	</div>			
	</block>
	
	<div id="content">
		<div class="body clearBoth" cond="$content">
			<div class="lnb" cond="$layout_info->layout_style!=='c'&& $layout_info->layout_style!=='cc'">
				<div class="lnb_normal lnb_normal_{$layout_info->lnb_style}" cond="$layout_info->lnb_style">
					<!-- 서브메뉴 타이틀 -->
					<div class="section wrap_locNav">
						<h2 loop="$sub_menu->list=>$key1,$val1" class="lnb_h2" cond="$val1['selected']"><a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a></h2>
						<div class="in_section"  loop="$sub_menu->list=>$key1,$val1" cond="$val1['selected'] && $val1['list']">
							<ul class="locNav">
									{@$idx=1}
								<li loop="$val1['list']=>$key2,$val2" class="active locLi_{$idx} locLi{($idx+1)%2+1}"|cond="$val2['selected']" class="locLi_{$idx} locLi{($idx+1)%2+1}"|cond="!$val2['selected']"><a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['text']}<i cond="$val2['selected']" class="xi-angle-right"></i></a>
									{@$idx++}
								</li>
							</ul>
						</div>
					</div>
						
					<include target="slide/sub_widget.html" />
						
					<!-- 서브메뉴 하위메뉴 끝 -->
					<ul class="sub_banner" cond="$layout_info->sub_banner_img1">
						<li cond="$layout_info->sub_banner_img1">
							<a target="_blank"|cond="$layout_info->sub_blank" href="{$layout_info->sub_banner_url1}"><img src="{$layout_info->sub_banner_img1}" alt="{$layout_info->sub_banner_alt1}" /></a>
						</li>
								
						<li cond="$layout_info->sub_banner_img2">
							<a target="_blank"|cond="$layout_info->sub_blank" href="{$layout_info->sub_banner_url2}"><img src="{$layout_info->sub_banner_img2}" alt="{$layout_info->sub_banner_alt2}" /></a>
						</li>

						<li cond="$layout_info->sub_banner_img3">
							<a target="_blank"|cond="$layout_info->sub_blank" href="{$layout_info->sub_banner_url3}"><img src="{$layout_info->sub_banner_img3}" alt="{$layout_info->sub_banner_alt3}" /></a>
						</li>

						<li cond="$layout_info->sub_banner_img4">
							<a target="_blank"|cond="$layout_info->sub_blank" href="{$layout_info->sub_banner_url4}"><img src="{$layout_info->sub_banner_img4}" alt="{$layout_info->sub_banner_alt4}" /></a>
						</li>

						<li cond="$layout_info->sub_banner_img5">
							<a target="_blank"|cond="$layout_info->sub_blank" href="{$layout_info->sub_banner_url5}"><img src="{$layout_info->sub_banner_img5}" alt="{$layout_info->sub_banner_alt5}" /></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="content">
				<div class="in_content">
					<block cond="$layout_info->breadclumb=='yes'||$layout_info->breadclumb=='no'">
					<!-- depth 1 -->
					<block loop="$breadclumb_menu->list=>$key, $val" cond="$val['selected']">{@$menu_depth1 = $val}</block>
					<!-- depth 2 -->
					<block loop="$menu_depth1['list']=>$key, $val" cond="$val['selected'] && $menu_depth1">{@$menu_depth2 = $val}</block>
					<!-- depth 3 -->
					<block loop="$menu_depth2['list']=>$key, $val" cond="$val['selected'] && $menu_depth2">{@$menu_depth3 = $val}</block>
					<div class="wrap_breadclumb {$layout_info->lnb_style}_breadclumb line_{$layout_info->breadclumb}_breadclumb">
						<div class="sub_title">
							<h2>
								<a href="{$menu_depth1['href']}" cond="$menu_depth1&&!$menu_depth2">{$menu_depth1['link']}</a>
								<a href="{$menu_depth2['href']}" cond="$menu_depth2">{$menu_depth2['link']}</a>
								<span class="span_breadclumb"></span>
							</h2>
						</div>
						<ul class="breadclumb">												
							<li class="first_breadclumb png_bg">
								<a href="{getSiteUrl()}">홈</a>
							</li>
							<li class="png_bg" cond="$menu_depth1">
								<a class="Ccolor" href="{$menu_depth1['href']}">{$menu_depth1['text']}</a>
							</li>
							<li class="png_bg" cond="$menu_depth2">
								<a class="Ccolor" href="{$menu_depth2['href']}">{$menu_depth2['text']}</a>
							</li>
						</ul>		
					</div>	
					</block>
					<div class="in_section">
						{$content}
					</div>
				</div>
			</div>
		</div>
	</div>
	<block cond="$layout_info->use_widget">
		<include target="slide/use_widgetA.html" />
	</block>
	<footer class="footer xe_width" id="footer">
		<div class="wrap_footer xe_width" cond="$layout_info->foot_style=='A'">
			<div class="foot_menu">
				<ul class="clearBoth">
					{@$idx=1}
					<li class="foot_li{$idx}" loop="$foot_menu->list=>$key1,$val1" cond="$val1['link']">
						<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['text']}</a>
					{@$idx++}
					</li>
				</ul>
			</div>
			<div class="in_footer">
				<div class="clearBoth wrap_copylight">
					<div class="footLeft">
						<h2 class="foot_logo">
							<a href="{$layout_info->logo_url}"|cond="$layout_info->logo_url"  href="{getSiteUrl()}"|cond="!$layout_info->logo_url" cond="$layout_info->foot_logo_image" title="{$layout_info->logo_image_alt}"><img class="logo" src="{$layout_info->foot_logo_image}" alt="{$layout_info->logo_image_alt}" border="0" /></a>
							<a href="{getSiteUrl()}" cond="!$layout_info->foot_logo_image" class="text_logo" title="Door of Web"><img class="logo" src="img/foot_logo.png" border="0" alt="Door of Web"></a>
						</h2>
						<p cond="$layout_info->footer_text">
							{$layout_info->footer_text}
						</p>
					</div>
					<div class="footRight">
						<p class="copylight">
							<block cond="!$layout_info->FOOTER">
							<span>주소 : </span>대한민국 서울특별시 영등포구 의사당대로 1<br /> 
							<span>Tel : </span>+82 2-788-2114   <br />
							<span>Fax : </span>000.000.0001 
							</block>
							<block cond="$layout_info->FOOTER">
							{$layout_info->FOOTER}
							</block>
						</p>
					</div>
				</div>
				<div class="foot_absolute">
					<ul class="foot_sns" cond="$layout_info->use_footer_SNS">
						<li cond="$layout_info->facebook"><a href="{$layout_info->facebook}" target="_blank"  title="Facebook 바로가기"><img src="img/facebook.png" alt="facebook" /></a></li>
						<li cond="$layout_info->twitter"><a href="{$layout_info->twitter}" target="_blank" title="Twitter 바로가기"><img src="img/twitter.png" alt="twitter" /></a></li>
						<li cond="$layout_info->instagram"><a href="{$layout_info->instagram}" target="_blank" title="Instagram 바로가기"><img src="img/instagram.png" alt="Instagram" /></a></li>
						<li cond="$layout_info->google"><a href="{$layout_info->google}" target="_blank" title="Google 바로가기"><img src="img/google.png" alt="google" /></a></li>
						<li cond="$layout_info->pinterest"><a href="{$layout_info->pinterest}" target="_blank" title="Pinterest 바로가기"><img src="img/pinterest.png" alt="pinterest" /></a></li>
						<li cond="$layout_info->kakaostory"><a href="{$layout_info->kakaostory}" target="_blank" title="Kakaostory 바로가기"><img src="img/kakaostory.png" alt="kakaostory" /></a></li>
						<li cond="$layout_info->band"><a href="{$layout_info->band}" target="_blank" title="Band 바로가기"><img src="img/band.png" alt="band" /></a></li>
						<li cond="$layout_info->sns_image1"><a target="_blank" href="{$layout_info->sns_image_url1}"  title="{$layout_info->sns_image_alt1} 바로가기"><img src="{$layout_info->sns_image1}" alt="{$layout_info->sns_image_alt1}" title="{$layout_info->sns_image_alt1}" /></a></li>
						<li cond="$layout_info->sns_image2"><a target="_blank" href="{$layout_info->sns_image_url2}"  title="{$layout_info->sns_image_alt2} 바로가기"><img src="{$layout_info->sns_image2}" alt="{$layout_info->sns_image_alt2}" title="{$layout_info->sns_image_alt2}" /></a></li>
						<li cond="$layout_info->sns_image3"><a target="_blank" href="{$layout_info->sns_image_url3}"  title="{$layout_info->sns_image_alt3} 바로가기"><img src="{$layout_info->sns_image3}" alt="{$layout_info->sns_image_alt3}"  title="{$layout_info->sns_image_alt3}"/></a></li>
						<li cond="$layout_info->sns_image4"><a target="_blank" href="{$layout_info->sns_image_url4}"  title="{$layout_info->sns_image_alt4} 바로가기"><img src="{$layout_info->sns_image4}" alt="{$layout_info->sns_image_alt4}" title="{$layout_info->sns_image_alt4}" /></a></li>
					</ul>
					<a href="http://doorweb.net/xe" target="_blank" class="ds_dw">Skin by <span class="skin_by">DoorWeb</span></a>
				</div>
			</div>
			
		</div>

		<div class="wrap_footerB xe_width" cond="$layout_info->foot_style!=='A'">
			
			<div class="in_footer">
				<div class="clearBoth wrap_copylight">
					<div class="footLeft">
						<h2 class="foot_logo">
							<a href="{$layout_info->logo_url}"|cond="$layout_info->logo_url"  href="{getSiteUrl()}"|cond="!$layout_info->logo_url" cond="$layout_info->foot_logo_image" title="{$layout_info->logo_image_alt}"><img class="logo" src="{$layout_info->foot_logo_image}" alt="{$layout_info->logo_image_alt}" border="0" /></a>
							<a href="{getSiteUrl()}" cond="!$layout_info->foot_logo_image" class="text_logo" title="Door of Web"><img class="logo" src="img/foot_logo.png" border="0" alt="Door of Web"></a>
						</h2>
						<p cond="$layout_info->footer_text">
							{$layout_info->footer_text}
						</p>
					</div>
					<div class="footRight">
						<ul class="foot_wide_menu clearBoth">
							{@$idx=1}
							<li loop="$foot_wide_menu->list=>$key1,$val1" cond="$val1['link']" class="foot_li dw_width{$layout_info->foot_menu_width}">
								<div class="foot_div">
									<a class="foot_a" href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['text']}</a>
									<ul class="foot_ul" cond="$val1['list']">
										<li loop="$val1['list']=>$key2,$val2" cond="$val2['link']">
											<a href="{$val2['href']}" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['text']}</a>
										</li>
									</ul>
								</div>
								{@$idx++}
							</li>		
						</ul>
					</div>
				</div>
			</div>
			<div class="bottom_footer">
				<div class="foot_absolute">
					<ul class="foot_sns" cond="$layout_info->use_footer_SNS">
						<li cond="$layout_info->facebook"><a href="{$layout_info->facebook}" target="_blank"  title="Facebook 바로가기"><img src="img/facebook.png" alt="facebook" /></a></li>
						<li cond="$layout_info->twitter"><a href="{$layout_info->twitter}" target="_blank" title="Twitter 바로가기"><img src="img/twitter.png" alt="twitter" /></a></li>
						<li cond="$layout_info->instagram"><a href="{$layout_info->instagram}" target="_blank" title="Instagram 바로가기"><img src="img/instagram.png" alt="Instagram" /></a></li>
						<li cond="$layout_info->google"><a href="{$layout_info->google}" target="_blank" title="Google 바로가기"><img src="img/google.png" alt="google" /></a></li>
						<li cond="$layout_info->pinterest"><a href="{$layout_info->pinterest}" target="_blank" title="Pinterest 바로가기"><img src="img/pinterest.png" alt="pinterest" /></a></li>
						<li cond="$layout_info->kakaostory"><a href="{$layout_info->kakaostory}" target="_blank" title="Kakaostory 바로가기"><img src="img/kakaostory.png" alt="kakaostory" /></a></li>
						<li cond="$layout_info->band"><a href="{$layout_info->band}" target="_blank" title="Band 바로가기"><img src="img/band.png" alt="band" /></a></li>
						<li cond="$layout_info->sns_image1"><a target="_blank" href="{$layout_info->sns_image_url1}"  title="{$layout_info->sns_image_alt1} 바로가기"><img src="{$layout_info->sns_image1}" alt="{$layout_info->sns_image_alt1}" title="{$layout_info->sns_image_alt1}" /></a></li>
						<li cond="$layout_info->sns_image2"><a target="_blank" href="{$layout_info->sns_image_url2}"  title="{$layout_info->sns_image_alt2} 바로가기"><img src="{$layout_info->sns_image2}" alt="{$layout_info->sns_image_alt2}" title="{$layout_info->sns_image_alt2}" /></a></li>
						<li cond="$layout_info->sns_image3"><a target="_blank" href="{$layout_info->sns_image_url3}"  title="{$layout_info->sns_image_alt3} 바로가기"><img src="{$layout_info->sns_image3}" alt="{$layout_info->sns_image_alt3}"  title="{$layout_info->sns_image_alt3}"/></a></li>
						<li cond="$layout_info->sns_image4"><a target="_blank" href="{$layout_info->sns_image_url4}"  title="{$layout_info->sns_image_alt4} 바로가기"><img src="{$layout_info->sns_image4}" alt="{$layout_info->sns_image_alt4}" title="{$layout_info->sns_image_alt4}" /></a></li>
					</ul>
					<a href="http://doorweb.net/xe" target="_blank" class="ds_dw">Design by <span class="skin_by">DoorWeb</span></a>
				</div>
				<p class="copylight">
							<block cond="!$layout_info->FOOTER">
							<span>주소 : </span>대한민국 서울특별시 영등포구 의사당대로 1<br /> 
							<span>Tel : </span>+82 2-788-2114   <br />
							<span>Fax : </span>000.000.0001 
							</block>
							<block cond="$layout_info->FOOTER">
							{$layout_info->FOOTER}
							</block>
				</p>
			</div>
			<div class="foot_menu">
				<ul class="clearBoth">
					{@$idx=1}
					<li class="foot_li{$idx}" loop="$foot_menu->list=>$key1,$val1" cond="$val1['link']">
						<a href="{$val1['href']}" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['text']}</a>
					{@$idx++}
					</li>
				</ul>
			</div>
		</div>
	</footer>
	
</div>
<!--@if(!$is_logged)-->
<section class="login_widget" cond="$layout_info->use_sns">
	<load target="./css/widget.login.css" />
	<div class="ly_dimmed"></div>
	<div class="signin">
		<div class="login-header">
			<h1>LOGIN</h1>
		</div>
		<div class="login-body">
			<form action="{getUrl()}" method="post" autocomplete="off">
				<input type="hidden" name="act" value="procMemberLogin" />
				<input type="hidden" name="success_return_url" value="{htmlspecialchars(getRequestUriByServerEnviroment(), ENT_COMPAT | ENT_HTML401, 'UTF-8', FALSE)}" />
				<input type="hidden" name="xe_validator_id" value="layouts/Clayout_A/layout/1" />
				<fieldset>
					<legend class="blind">{$lang->cmd_login}</legend>
					<div class="control-group">
						<div class="group">
							<input type="text" name="user_id" id="uemail" required="true" />
							<span class="highlight"></span>
							<span class="bar"></span>
							<label class="info_label" for="uemail">{$lang->user_id}</label>
						</div>
						<div class="group">
							<input type="password" name="password" id="upw" required="true" />
							<span class="highlight"></span>
							<span class="bar"></span>
							<label class="info_label" for="upw">{$lang->password}</label>
						</div>
						<label class="chk_label" for="keepid_opt">
							<input type="checkbox" name="keep_signed" id="keepid_opt" value="Y" />
							<span class="checkbox"></span> {$lang->keep_signed}
						</label>
						<div class="wrap_warning">
							<div id="warning">
								<p style="text-align:right;"><i class="xi-close"></i></p>
								<p>{str_replace('\n\n', '<br />', $lang->about_keep_signed)}</p>
								<div class="edge"></div>
							</div>
						</div>
					</div>
					<div cond="$XE_VALIDATOR_ID == 'layouts/Clayout_A/layout/1' && $XE_VALIDATOR_MESSAGE" class="control-group">
						<p class="error">{$XE_VALIDATOR_MESSAGE}</p>
					</div>
					<div class="control-submit">
						
						<button type="submit" class="btn_submit">{$lang->cmd_login}</button>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="login-footer">
			{@ $oSocialxeModel = getModel('socialxe');}
			<ul class="wrap_sns">
				<li><a cond="$layout_info->naver_login" class="naver_login" href="{$oSocialxeModel->snsAuthUrl('naver', 'login')}"><img src="img/btn_naver.png" alt="Naver Login">Naver Login</a></li>
				<li><a cond="$layout_info->kakao_login" class="kakao_login" href="{$oSocialxeModel->snsAuthUrl('kakao', 'login')}"><img src="img/btn_kakao.png" alt="kakao Login">Kakao Login</a></li>
				<li><a cond="$layout_info->twitter_login" class="twitter_login" href="{$oSocialxeModel->snsAuthUrl('twitter', 'login')}"><img src="img/btn_twitter.png" alt="twitter Login">Twitter Login</a></li>
				<li><a cond="$layout_info->facebook_login" class="facebook_login" href="{$oSocialxeModel->snsAuthUrl('facebook', 'login')}"><img src="img/btn_facebook.png" alt="facebook Login">Facebook Login</a></li>
				<li><a cond="$layout_info->google_login" class="google_login" href="{$oSocialxeModel->snsAuthUrl('google', 'login')}"><img src="img/btn_google.png" alt="google Login">Google Login</a></li>
			</ul>
		</div>
		<a href="#" class="btn_ly_popup"><span class="blind">닫기</span></a>
	</div>
</section>

<!--@end-->

<nav class="nav">
    <ul>
		<li class="nav_top"><a href="#skip"><span>TO TOP</span></a></li>
        <li cond="$layout_info->main_widget1"><a class="nav_normal" href="#section1"><span>{$layout_info->title_quick1}</span></a></li>
        <li cond="$layout_info->main_widget2"><a class="nav_normal" href="#section2"><span>{$layout_info->title_quick2}</span></a></li>
        <li cond="$layout_info->main_widget3"><a class="nav_normal" href="#section3"><span>{$layout_info->title_quick3}</span></a></li>
        <li cond="$layout_info->wrap_main_widget4"><a class="nav_normal" href="#section4"><span>{$layout_info->title_quick4}</span></a></li>
        <li cond="$layout_info->use_map"><a class="nav_normal" href="#section5"><span>{$layout_info->title_quick5}</span></a></li>
		<li class="nav_bottom"><a href="#footer"><span>TO BOTTOM</span></a></li>
    </ul>
</nav>