			<!-- 첫번째 블럭 시작 -->
			<div class="in_office in_office1" cond="$layout_info->sub_widget1=='normal'"><!-- 목록형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img1"><img class="H2Img" src="{$layout_info->sub_widget_H2Img1}" alt="{$layout_info->sub_widget_title1}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img1">{$layout_info->sub_widget_title1}</span>
						<a cond="$layout_info->sub_widget_url1" href="{$layout_info->sub_widget_url1}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_normal">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="document" module_srls="{$layout_info->sub_widget_srl1}" list_type="normal" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list1}" page_count="1" subject_cut_size="60" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
					</div>
				</div>
			</div>

			<div class="in_office in_office1" cond="$layout_info->sub_widget1=='gallery'"><!-- 갤러리형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img1"><img class="H2Img" src="{$layout_info->sub_widget_H2Img1}" alt="{$layout_info->sub_widget_title1}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img1">{$layout_info->sub_widget_title1}</span>
						<a cond="$layout_info->sub_widget_url1" href="{$layout_info->sub_widget_url1}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_gallery">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="image" module_srls="{$layout_info->sub_widget_srl1}" list_type="gallery" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list1}" cols_list_count="2" page_count="1" subject_cut_size="20" content_cut_size="60" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="100" thumbnail_height="80" />
					</div>
				</div>
			</div>

			<div class="in_office in_office1" cond="$layout_info->sub_widget1=='image_title_content'"><!-- 이미지+제목+내용형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img1"><img class="H2Img" src="{$layout_info->sub_widget_H2Img1}" alt="{$layout_info->sub_widget_title1}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img1">{$layout_info->sub_widget_title1}</span>
						<a cond="$layout_info->sub_widget_url1" href="{$layout_info->sub_widget_url1}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_itc">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="image" module_srls="{$layout_info->sub_widget_srl1}" list_type="image_title_content" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list1}" cols_list_count="2" page_count="1" subject_cut_size="70" content_cut_size="180" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="64" thumbnail_height="64" />
					</div>
				</div>
			</div>

			<div class="in_office in_office1" cond="$layout_info->sub_widget1=='html'"><!-- 기타 코드 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2" cond="$layout_info->sub_widget_H2Img1||$layout_info->sub_widget_title1">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img1"><img class="H2Img" src="{$layout_info->sub_widget_H2Img1}" alt="{$layout_info->sub_widget_title1}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img1">{$layout_info->sub_widget_title1}</span>
						<a cond="$layout_info->sub_widget_url1" href="{$layout_info->sub_widget_url1}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_itc1">{$layout_info->sub_widget_text1}</div>
				</div>
			</div>

			<!-- 첫번째 블럭 끝 -->

			<!-- 두번째 블럭 시작 -->
			<div class="in_office in_office1" cond="$layout_info->sub_widget2=='normal'"><!-- 목록형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img2"><img class="H2Img" src="{$layout_info->sub_widget_H2Img2}" alt="{$layout_info->sub_widget_title2}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img2">{$layout_info->sub_widget_title2}</span>
						<a cond="$layout_info->sub_widget_url2" href="{$layout_info->sub_widget_url2}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_normal">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="document" module_srls="{$layout_info->sub_widget_srl2}" list_type="normal" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list2}" page_count="1" subject_cut_size="60" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
					</div>
				</div>
			</div>

			<div class="in_office in_office1" cond="$layout_info->sub_widget2=='gallery'"><!-- 갤러리형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img2"><img class="H2Img" src="{$layout_info->sub_widget_H2Img2}" alt="{$layout_info->sub_widget_title2}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img2">{$layout_info->sub_widget_title2}</span>
						<a cond="$layout_info->sub_widget_url2" href="{$layout_info->sub_widget_url2}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_gallery">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="image" module_srls="{$layout_info->sub_widget_srl2}" list_type="gallery" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list2}" cols_list_count="2" page_count="1" subject_cut_size="20" content_cut_size="60" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="100" thumbnail_height="80" />
					</div>
				</div>
			</div>

			<div class="in_office in_office1" cond="$layout_info->sub_widget2=='image_title_content'"><!-- 이미지+제목+내용형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img2"><img class="H2Img" src="{$layout_info->sub_widget_H2Img2}" alt="{$layout_info->sub_widget_title2}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img2">{$layout_info->sub_widget_title2}</span>
						<a cond="$layout_info->sub_widget_url2" href="{$layout_info->sub_widget_url2}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_itc">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="image" module_srls="{$layout_info->sub_widget_srl2}" list_type="image_title_content" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list2}" cols_list_count="2" page_count="1" subject_cut_size="70" content_cut_size="180" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="64" thumbnail_height="64" />
					</div>
				</div>
			</div>
			
			<div class="in_office in_office1" cond="$layout_info->sub_widget2=='html'"><!-- 기타 코드 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2" cond="$layout_info->sub_widget_H2Img2||$layout_info->sub_widget_title2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img2"><img class="H2Img" src="{$layout_info->sub_widget_H2Img2}" alt="{$layout_info->sub_widget_title2}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img2">{$layout_info->sub_widget_title2}</span>
						<a cond="$layout_info->sub_widget_url2" href="{$layout_info->sub_widget_url2}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_itc1">{$layout_info->sub_widget_text2}</div>
				</div>
			</div>
			<!-- 두번째 블럭 끝 -->

			<!-- 세번째 블럭 시작 -->
			<div class="in_office in_office1" cond="$layout_info->sub_widget3=='normal'"><!-- 목록형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img3"><img class="H2Img" src="{$layout_info->sub_widget_H2Img3}" alt="{$layout_info->sub_widget_title3}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img3">{$layout_info->sub_widget_title3}</span>
						<a cond="$layout_info->sub_widget_url3" href="{$layout_info->sub_widget_url3}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_normal">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="document" module_srls="{$layout_info->sub_widget_srl3}" list_type="normal" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list3}" page_count="1" subject_cut_size="60" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
					</div>
				</div>
			</div>

			<div class="in_office in_office1" cond="$layout_info->sub_widget3=='gallery'"><!-- 갤러리형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img3"><img class="H2Img" src="{$layout_info->sub_widget_H2Img3}" alt="{$layout_info->sub_widget_title3}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img3">{$layout_info->sub_widget_title3}</span>
						<a cond="$layout_info->sub_widget_url3" href="{$layout_info->sub_widget_url3}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_gallery">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="image" module_srls="{$layout_info->sub_widget_srl3}" list_type="gallery" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list3}" cols_list_count="2" page_count="1" subject_cut_size="20" content_cut_size="60" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="100" thumbnail_height="80" />
					</div>
				</div>
			</div>

			<div class="in_office in_office1" cond="$layout_info->sub_widget3=='image_title_content'"><!-- 이미지+제목+내용형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img3"><img class="H2Img" src="{$layout_info->sub_widget_H2Img3}" alt="{$layout_info->sub_widget_title3}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img3">{$layout_info->sub_widget_title3}</span>
						<a cond="$layout_info->sub_widget_url3" href="{$layout_info->sub_widget_url3}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_itc">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="image" module_srls="{$layout_info->sub_widget_srl3}" list_type="image_title_content" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list3}" cols_list_count="2" page_count="1" subject_cut_size="70" content_cut_size="180" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="64" thumbnail_height="64" />
					</div>
				</div>
			</div>

			<div class="in_office in_office1" cond="$layout_info->sub_widget3=='html'"><!-- 기타 코드 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2" cond="$layout_info->sub_widget_H2Img3||$layout_info->sub_widget_title3">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img3"><img class="H2Img" src="{$layout_info->sub_widget_H2Img3}" alt="{$layout_info->sub_widget_title3}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img3">{$layout_info->sub_widget_title3}</span>
						<a cond="$layout_info->sub_widget_url3" href="{$layout_info->sub_widget_url3}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_itc1">{$layout_info->sub_widget_text3}</div>
				</div>
			</div>
			<!-- 세번째 블럭 끝 -->

			<!-- 네번째 블럭 시작 -->
			<div class="in_office in_office1" cond="$layout_info->sub_widget4=='normal'"><!-- 목록형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img4"><img class="H2Img" src="{$layout_info->sub_widget_H2Img4}" alt="{$layout_info->sub_widget_title4}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img4">{$layout_info->sub_widget_title4}</span>
						<a cond="$layout_info->sub_widget_url4" href="{$layout_info->sub_widget_url4}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_normal">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="document" module_srls="{$layout_info->sub_widget_srl4}" list_type="normal" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list4}" page_count="1" subject_cut_size="60" option_view="title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
					</div>
				</div>
			</div>

			<div class="in_office in_office1" cond="$layout_info->sub_widget4=='gallery'"><!-- 갤러리형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img4"><img class="H2Img" src="{$layout_info->sub_widget_H2Img4}" alt="{$layout_info->sub_widget_title4}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img4">{$layout_info->sub_widget_title4}</span>
						<a cond="$layout_info->sub_widget_url4" href="{$layout_info->sub_widget_url4}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_gallery">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="image" module_srls="{$layout_info->sub_widget_srl4}" list_type="gallery" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list4}" cols_list_count="2" page_count="1" subject_cut_size="20" content_cut_size="60" option_view="thumbnail,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="100" thumbnail_height="80" />
					</div>
				</div>
			</div>

			<div class="in_office in_office1" cond="$layout_info->sub_widget4=='image_title_content'"><!-- 이미지+제목+내용형 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img4"><img class="H2Img" src="{$layout_info->sub_widget_H2Img4}" alt="{$layout_info->sub_widget_title4}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img4">{$layout_info->sub_widget_title4}</span>
						<a cond="$layout_info->sub_widget_url4" href="{$layout_info->sub_widget_url4}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_itc">
						<img class="zbxe_widget_output" widget="DWbasic" skin="default" colorset="white" content_type="image" module_srls="{$layout_info->sub_widget_srl4}" list_type="image_title_content" tab_type="none" markup_type="list" list_count="{$layout_info->sub_widget_list4}" cols_list_count="2" page_count="1" subject_cut_size="70" content_cut_size="180" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="64" thumbnail_height="64" />
					</div>
				</div>
			</div>
			<div class="in_office in_office1" cond="$layout_info->sub_widget4=='html'"><!-- 기타 코드 -->
				<div class="inner_office wrap_widgetA">
					<h2 class="DW_StA_h2" cond="$layout_info->sub_widget_H2Img4||$layout_info->sub_widget_title4">
						<span class="DW_StA_span" cond="$layout_info->sub_widget_H2Img4"><img class="H2Img" src="{$layout_info->sub_widget_H2Img4}" alt="{$layout_info->sub_widget_title4}" /></span>
						<span class="DW_StA_span" cond="!$layout_info->sub_widget_H2Img4">{$layout_info->sub_widget_title4}</span>
						<a cond="$layout_info->sub_widget_url4" href="{$layout_info->sub_widget_url4}" class="DW_StA_h2_more"><span>+</span></a>
						<hr class="DW_StA_hr" />
					</h2>
					<div class="DW_StA_itc1">{$layout_info->sub_widget_text4}</div>
				</div>
			</div>
			
			<!-- 네번째 블럭 끝 -->

			