			<!-- 첫번째 블럭 시작 -->
			<section id="section1" class="section1 align-center" cond="$layout_info->main_widget1">
				<div class="in_section1" cond="$layout_info->main_widget_title1">
					<h1 class="text-shadow1" cond="$layout_info->main_widget_title1">{$layout_info->main_widget_title1}</h1>
					<p cond="$layout_info->main_widget_text1">{$layout_info->main_widget_text1}</p>
				</div>
				<span class="bg_span left_span"></span>
				<span class="bg_span right_span"></span>
			</section>
			<!-- 첫번째 블럭 끝 -->

			<!-- 두번째 블럭 시작 -->
			<section id="section2" class="section2" cond="$layout_info->main_widget2">
				<div class="in_section2 align-center">
					<div class="section_top"  cond="$layout_info->main_widget_title2">
						<h2 class="text-shadow1 section_h2" cond="$layout_info->main_widget_title2">{$layout_info->main_widget_title2}</h2>
						<p class="section_p" cond="$layout_info->main_widget_text2">{$layout_info->main_widget_text2}</p>
					</div>
					<div class="banner_div">
						<ul class="banner_ul clearBoth">
							<li cond="$layout_info->in_banner_Img1">
								<div class="in_banner">
									<p>
										<a href="{$layout_info->in_banner_url1}"><img src="{$layout_info->in_banner_Img1}" alt="" /></a>
									</p>
									<h3>{$layout_info->in_banner_title1}</h3>
									<div class="wrap_text">{$layout_info->in_banner_text1}</div>
								</div>
							</li>

							<li cond="$layout_info->in_banner_Img2">
								<div class="in_banner">
									<p>
										<a href="{$layout_info->in_banner_url2}"><img src="{$layout_info->in_banner_Img2}" alt="" /></a>
									</p>
									<h3>{$layout_info->in_banner_title2}</h3>
									<div class="wrap_text">{$layout_info->in_banner_text2}</div>
								</div>
							</li>

							<li cond="$layout_info->in_banner_Img3">
								<div class="in_banner">
									<p>
										<a href="{$layout_info->in_banner_url3}"><img src="{$layout_info->in_banner_Img3}" alt="" /></a>
									</p>
									<h3>{$layout_info->in_banner_title3}</h3>
									<div class="wrap_text">{$layout_info->in_banner_text3}</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
				<block cond="$layout_info->foot_v2">
				<span class="bg_span left_span"></span>
				<span class="bg_span right_span"></span>
				</block>
			</section>
			<!-- 두번째 블럭 끝 -->

			<!-- 세번째 블럭 시작 -->
			<section id="section3" class="section3" cond="$layout_info->main_widget3">
				<div class="in_section4 align-center">
					<div class="section_top"  cond="$layout_info->main_widget_title3">
						<h2 class="text-shadow1 section_h2" cond="$layout_info->main_widget_title3">{$layout_info->main_widget_title3}</h2>
						<p class="section_p" cond="$layout_info->main_widget_text3">{$layout_info->main_widget_text3}</p>
					</div>
					<div class="banner_div">
						<img class="zbxe_widget_output" widget="DWbasic" skin="m_default" colorset="white" content_type="image" module_srls="{$layout_info->main_widget_srl3}" list_type="image_slide" tab_type="none" markup_type="list" list_count="{$layout_info->list_count_3}" cols_list_count="3" page_count="1" subject_cut_size="70" content_cut_size="180" option_view="thumbnail,title" show_browser_title="N" show_comment_count="{$layout_info->show_comment_count_3}" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="460" thumbnail_height="300" />
					</div>
				</div>
				
				<block cond="$layout_info->foot_v3">
				<span class="bg_span left_span"></span>
				<span class="bg_span right_span"></span>
				</block>
			</section>
			<!-- 세번째 블럭 끝 -->
			
			<!-- 네번째 블럭 시작 -->
			<section id="section4" class="section4 {$layout_info->m_in_widget_style}" cond="$layout_info->wrap_main_widget4">
				<div class="in_section3">
					<div class="section_top align-center"  cond="$layout_info->main_widget_title4">
						<h2 class="text-shadow1 section_h2" cond="$layout_info->main_widget_title4">{$layout_info->main_widget_title4}</h2>
						<p class="section_p" cond="$layout_info->main_widget_text4">{$layout_info->main_widget_text4}</p>
					</div>

					<div class="banner_div clearBoth">
						<!-- 4-1 블럭 시작 -->
						<div class="in_office in_office1" cond="$layout_info->m_in_widget1=='normal'"><!-- 목록형 -->
							<div class="inner_office wrap_widgetA">
								<h2 class="DW_StA_h2">
									<span class="DW_StA_span" cond="$layout_info->m_in_widget_H2Img1"><img class="H2Img" src="{$layout_info->m_in_widget_H2Img1}" alt="{$layout_info->m_in_widget_title1}" /></span>
									<span class="DW_StA_span" cond="!$layout_info->m_in_widget_H2Img1">{$layout_info->m_in_widget_title1}</span>
									<a cond="$layout_info->m_in_widget_url1" href="{$layout_info->m_in_widget_url1}" class="DW_StA_h2_more"><span>+</span> more</a>
									<hr class="DW_StA_hr" />
								</h2>
								<div class="DW_StA_normal">
									<img class="zbxe_widget_output" widget="DWbasic" skin="m_default" colorset="white" content_type="document" module_srls="{$layout_info->m_in_widget_srl1}" list_type="normal" tab_type="none" markup_type="list" list_count="5" page_count="1" subject_cut_size="60" option_view="regdate,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
								</div>
							</div>
						</div>

						<div class="in_office in_office1" cond="$layout_info->m_in_widget1=='image_title_content'"><!-- 이미지+제목+내용형 -->
							<div class="inner_office wrap_widgetA">
								<h2 class="DW_StA_h2">
									<span class="DW_StA_span" cond="$layout_info->m_in_widget_H2Img1"><img class="H2Img" src="{$layout_info->m_in_widget_H2Img1}" alt="{$layout_info->m_in_widget_title1}" /></span>
									<span class="DW_StA_span" cond="!$layout_info->m_in_widget_H2Img1">{$layout_info->m_in_widget_title1}</span>
									<a cond="$layout_info->m_in_widget_url1" href="{$layout_info->m_in_widget_url1}" class="DW_StA_h2_more"><span>+</span> more</a>
									<hr class="DW_StA_hr" />
								</h2>
								<div class="DW_StA_normal">
									<img class="zbxe_widget_output" widget="DWbasic" skin="m_default" colorset="white" content_type="image" module_srls="{$layout_info->m_in_widget_srl1}" list_type="image_title_content" tab_type="none" markup_type="list" list_count="2" cols_list_count="2" page_count="1" subject_cut_size="70" content_cut_size="180" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="120" thumbnail_height="90" />
								</div>
							</div>
						</div>
						<!-- 4-1 블럭 끝 -->

						<!-- 4-2 블럭 시작 -->
						<div class="in_office in_office1" cond="$layout_info->m_in_widget2=='normal'"><!-- 목록형 -->
							<div class="inner_office wrap_widgetA">
								<h2 class="DW_StA_h2">
									<span class="DW_StA_span" cond="$layout_info->m_in_widget_H2Img2"><img class="H2Img" src="{$layout_info->m_in_widget_H2Img2}" alt="{$layout_info->m_in_widget_title2}" /></span>
									<span class="DW_StA_span" cond="!$layout_info->m_in_widget_H2Img2">{$layout_info->m_in_widget_title2}</span>
									<a cond="$layout_info->m_in_widget_url2" href="{$layout_info->m_in_widget_url2}" class="DW_StA_h2_more"><span>+</span> more</a>
									<hr class="DW_StA_hr" />
								</h2>
								<div class="DW_StA_normal">
									<img class="zbxe_widget_output" widget="DWbasic" skin="m_default" colorset="white" content_type="document" module_srls="{$layout_info->m_in_widget_srl2}" list_type="normal" tab_type="none" markup_type="list" list_count="5" page_count="1" subject_cut_size="60" option_view="regdate,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
								</div>
							</div>
						</div>

						<div class="in_office in_office1" cond="$layout_info->m_in_widget2=='image_title_content'"><!-- 이미지+제목+내용형 -->
							<div class="inner_office wrap_widgetA">
								<h2 class="DW_StA_h2">
									<span class="DW_StA_span" cond="$layout_info->m_in_widget_H2Img2"><img class="H2Img" src="{$layout_info->m_in_widget_H2Img2}" alt="{$layout_info->m_in_widget_title2}" /></span>
									<span class="DW_StA_span" cond="!$layout_info->m_in_widget_H2Img2">{$layout_info->m_in_widget_title2}</span>
									<a cond="$layout_info->m_in_widget_url2" href="{$layout_info->m_in_widget_url2}" class="DW_StA_h2_more"><span>+</span> more</a>
									<hr class="DW_StA_hr" />
								</h2>
								<div class="DW_StA_normal">
									<img class="zbxe_widget_output" widget="DWbasic" skin="m_default" colorset="white" content_type="image" module_srls="{$layout_info->m_in_widget_srl2}" list_type="image_title_content" tab_type="none" markup_type="list" list_count="2" cols_list_count="2" page_count="1" subject_cut_size="70" content_cut_size="180" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="120" thumbnail_height="90" />
								</div>
							</div>
						</div>
						<!-- 4-2 블럭 끝 -->

						<!-- 4-3 블럭 시작 -->
						<div class="in_office in_office1 in_office3" cond="$layout_info->m_in_widget3=='normal'"><!-- 목록형 -->
							<div class="inner_office wrap_widgetA">
								<h2 class="DW_StA_h2">
									<span class="DW_StA_span" cond="$layout_info->m_in_widget_H2Img3"><img class="H2Img" src="{$layout_info->m_in_widget_H2Img3}" alt="{$layout_info->m_in_widget_title3}" /></span>
									<span class="DW_StA_span" cond="!$layout_info->m_in_widget_H2Img3">{$layout_info->m_in_widget_title3}</span>
									<a cond="$layout_info->m_in_widget_url3" href="{$layout_info->m_in_widget_url3}" class="DW_StA_h2_more"><span>+</span> more</a>
									<hr class="DW_StA_hr" />
								</h2>
								<div class="DW_StA_normal">
									<img class="zbxe_widget_output" widget="DWbasic" skin="m_default" colorset="white" content_type="document" module_srls="{$layout_info->m_in_widget_srl3}" list_type="normal" tab_type="none" markup_type="list" list_count="5" page_count="1" subject_cut_size="60" option_view="regdate,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
								</div>
							</div>
						</div>

						<div class="in_office in_office1 in_office3" cond="$layout_info->m_in_widget3=='image_title_content'"><!-- 이미지+제목+내용형 -->
							<div class="inner_office wrap_widgetA">
								<h2 class="DW_StA_h2">
									<span class="DW_StA_span" cond="$layout_info->m_in_widget_H2Img3"><img class="H2Img" src="{$layout_info->m_in_widget_H2Img3}" alt="{$layout_info->m_in_widget_title3}" /></span>
									<span class="DW_StA_span" cond="!$layout_info->m_in_widget_H2Img3">{$layout_info->m_in_widget_title3}</span>
									<a cond="$layout_info->m_in_widget_url3" href="{$layout_info->m_in_widget_url3}" class="DW_StA_h2_more"><span>+</span> more</a>
									<hr class="DW_StA_hr" />
								</h2>
								<div class="DW_StA_normal">
									<img class="zbxe_widget_output" widget="DWbasic" skin="m_default" colorset="white" content_type="image" module_srls="{$layout_info->m_in_widget_srl3}" list_type="image_title_content" tab_type="none" markup_type="list" list_count="2" cols_list_count="2" page_count="1" subject_cut_size="70" content_cut_size="180" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="120" thumbnail_height="90" />
								</div>
							</div>
						</div>
						<!-- 4-3 블럭 끝 -->

						<!-- 4-4 블럭 시작 -->
						<div class="in_office in_office1 in_office4" cond="$layout_info->m_in_widget4=='normal'"><!-- 목록형 -->
							<div class="inner_office wrap_widgetA">
								<h2 class="DW_StA_h2">
									<span class="DW_StA_span" cond="$layout_info->m_in_widget_H2Img4"><img class="H2Img" src="{$layout_info->m_in_widget_H2Img4}" alt="{$layout_info->m_in_widget_title4}" /></span>
									<span class="DW_StA_span" cond="!$layout_info->m_in_widget_H2Img4">{$layout_info->m_in_widget_title4}</span>
									<a cond="$layout_info->m_in_widget_url4" href="{$layout_info->m_in_widget_url4}" class="DW_StA_h2_more"><span>+</span> more</a>
									<hr class="DW_StA_hr" />
								</h2>
								<div class="DW_StA_normal">
									<img class="zbxe_widget_output" widget="DWbasic" skin="m_default" colorset="white" content_type="document" module_srls="{$layout_info->m_in_widget_srl4}" list_type="normal" tab_type="none" markup_type="list" list_count="5" page_count="1" subject_cut_size="60" option_view="regdate,title" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" />
								</div>
							</div>
						</div>

						<div class="in_office in_office1 in_office4" cond="$layout_info->m_in_widget4=='image_title_content'"><!-- 이미지+제목+내용형 -->
							<div class="inner_office wrap_widgetA">
								<h2 class="DW_StA_h2">
									<span class="DW_StA_span" cond="$layout_info->m_in_widget_H2Img4"><img class="H2Img" src="{$layout_info->m_in_widget_H2Img4}" alt="{$layout_info->m_in_widget_title4}" /></span>
									<span class="DW_StA_span" cond="!$layout_info->m_in_widget_H2Img4">{$layout_info->m_in_widget_title4}</span>
									<a cond="$layout_info->m_in_widget_url4" href="{$layout_info->m_in_widget_url4}" class="DW_StA_h2_more"><span>+</span> more</a>
									<hr class="DW_StA_hr" />
								</h2>
								<div class="DW_StA_normal">
									<img class="zbxe_widget_output" widget="DWbasic" skin="m_default" colorset="white" content_type="image" module_srls="{$layout_info->m_in_widget_srl4}" list_type="image_title_content" tab_type="none" markup_type="list" list_count="2" cols_list_count="2" page_count="1" subject_cut_size="70" content_cut_size="180" option_view="thumbnail,title,content" show_browser_title="N" show_comment_count="N" show_trackback_count="N" show_category="N" show_icon="N" order_target="regdate" order_type="desc" thumbnail_type="crop" thumbnail_width="120" thumbnail_height="90" />
								</div>
							</div>
						</div>
						<!-- 4-4 블럭 끝 -->

					</div>
				</div>
			</section>
			<section id="section5" class="wrap_map section5" cond="$layout_info->use_map">
				<!--@if(!$layout_info->map_text)-->{@$layout_info->map_text = "국회의사당~~"}<!--@end-->
				<div class="in_map">
					<script src="http://maps.google.com/maps/api/js?sensor=true"></script>
					
					<div class="dw-map" id="myMap" style="width: 100%; height: 350px;"  ></div>
					<script type="text/javascript">
					function dw_maps_loaded() {
					var myMap = document.getElementById("myMap");

					var loc = new google.maps.LatLng({$layout_info->LatLng});

					//	div 에 구글맵 보이기

					var gmap = new google.maps.Map(

							myMap,	//지도가 보여질 div

							{

								zoom:16,//	지도 확대 정보

								center:loc,	//	지도 중앙	위치

								mapTypeId:google.maps.MapTypeId.ROADMAP //	지도타입

							}

					);

					//	위치에 마커 표시하기

					var gmarker = new google.maps.Marker(

						{

							position:loc,

							map:gmap,

							title:""

						}

					);
					var content = "{$layout_info->map_text}"; // 말풍선 안에 들어갈 내용
					var infowindow = new google.maps.InfoWindow({ content: content});
					infowindow.open(gmap,gmarker);
					}
					jQuery(window).load(function() {
					  dw_maps_loaded();
					});
					</script>
				</div>
			</section>
						
			